@model IEnumerable<NexcoWeb.Domain.Entities.Budget>
@{
    ViewBag.Title = "Char";
    Layout = "~/Views/Shared/ChartShare.cshtml";
}



<body>


    <script>

        var arrDate = [];
        var arrIncomes = [];
        var arrExpenses = [];
    @foreach (var item in Model) //cycle through each record returned
    {       // push the result into array to be able to display in chart
        string dateIncomes= string.Join("",@item.Income.DisplayDateIncomes);
                @:arrDate.push("@dateIncomes");
                    string totalIncome = string.Join("",@item.Income.TotalIncome);
                @:arrIncomes.push(@totalIncome);
                    string totalExpenses = string.Join("", @item.Expenditure.TotalExpense);
                @:arrExpenses.push(@totalExpenses);
            }
    </script>
    <div class="row panel panel-default">
        <div id="categoris" class="col-lg-2">
            @Html.Action("Menu", "Nav")
        </div>

        <div class="container row col-lg-9">
            <!-- Nav tabs -->
            <div class="col-lg-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#Income" aria-controls="Income" role="tab" data-toggle="tab">Total Incomes</a>
                    </li>
                    <li role="presentation">
                        <a href="#Expenses" aria-controls="Expenses" role="tab" data-toggle="tab">Total Expenses</a>
                    </li>
                    <li role="presentation">
                        <a href="#Budget" aria-controls="Budget" role="tab" data-toggle="tab">All</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Income">
                        <figure>
                            <div id="container"></div>
                            <p class="highcharts-description">

                            </p>
                        </figure>

                        <script>
                            Highcharts.chart('container', {
                                chart: {
                                    type: 'line'
                                },
                                title: {
                                    text: 'Monthly Average Incomes'
                                },
                                subtitle: {
                                    text: 'Nexco Financial management App'
                                },
                                xAxis: {
                                    categories: arrDate // Display the mount
                                },
                                yAxis: {
                                    title: {
                                        text: 'Pounds (£)'
                                    }
                                },
                                plotOptions: {
                                    line: {
                                        dataLabels: {
                                            enabled: true
                                        },
                                        enableMouseTracking: false
                                    }
                                },
                                series: [
                                    {
                                        name: 'Total Incomes',
                                        data: arrIncomes //Display the total income

                                    },
                                ]
                            });
                        </script>
                    </div>
                    <div role="tabpanel" class="tab-pane row" id="Expenses">
                        <figure>
                            <div id="container2"></div>
                            <p class="highcharts-description">
                            </p>
                        </figure>

                        <script>
                            Highcharts.chart('container2', {
                                chart: {
                                    type: 'line'
                                },
                                title: {
                                    text: 'Monthly Average Expenses'
                                },
                                subtitle: {
                                    text: 'Nexco Financial management App'
                                },
                                xAxis: {
                                    categories: arrDate
                                },
                                yAxis: {
                                    title: {
                                        text: 'Pounds (£)'
                                    }
                                },
                                plotOptions: {
                                    line: {
                                        dataLabels: {
                                            enabled: true
                                        },
                                        enableMouseTracking: false
                                    }
                                },
                                series: [

                                    {
                                        name: 'Total Expenses',
                                        data: arrExpenses
                                    }
                                ]
                            });
                        </script>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Budget">
                        <figure>
                            <div id="container3"></div>
                            <p class="highcharts-description">

                            </p>
                        </figure>
                        <script>
                            Highcharts.chart('container3', {
                                chart: {
                                    type: 'line'
                                },
                                title: {
                                    text: 'Monthly Average Budget'
                                },
                                subtitle: {
                                    text: 'Nexco Financial management App'
                                },
                                xAxis: {
                                    categories: arrDate // Display the mount
                                },
                                yAxis: {
                                    title: {
                                        text: 'Pounds (£)'
                                    }
                                },
                                plotOptions: {
                                    line: {
                                        dataLabels: {
                                            enabled: true
                                        },
                                        enableMouseTracking: false
                                    }
                                },
                                series: [
                                    {
                                        name: 'Total Incomes',
                                        data: arrIncomes //Display total incomes
                                    },

                                    {
                                        name: 'Total Expenses',
                                        data: arrExpenses //Display total expenses
                                    }
                                ]
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 visible-lg">
                <img src="~/Content/img/balance.png" alt="Incomes" height="342" width="342">
            </div>

        </div>
    </div>


</body>

<script src="~/Scripts/jquery-3.5.0.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/alertify.min.js"></script>

