@model NexcoWeb.WebUI.Models.ExpendituresListViewModel
@using NexcoWeb.WebUI.HtmlHelpers;

@{
    ViewBag.Title = "Expenditures";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-danger">@TempData["message"]</div>
}


@foreach (var i in Model.Expenditures)
{
    @Html.Partial("ExpenditureSummary", i)
}

@Html.ActionLink("Create new Expenses", "../AdminExpenditure/Create", null, new { @class = "btn btn-info pull-left" })
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, description = Model.CurrentDescription }))
</div>