@model NexcoWeb.Domain.Entities.Budget

<div class="well">
    <h3>
        <span class="lead">

            <strong> @Model.DisplayDateBudget</strong>
        </span>
    </h3>
    @Model.DisplayTextBudget

    <span class="pull-right">
        @Html.ActionLink("Details", "../IncomeExpenditure/Index", null, new { @class = "btn btn-info" })
    </span>

</div>