@model NexcoWeb.Domain.Entities.Expenditure

<div class="well">
    <h3>
        <strong> @Model.DisplayDateExpenses </strong>
        <span class="pull-right label label-primary">Edit</span>
    </h3>
    <span class="lead">@Model.DisplayTextExpenses</span>
</div>

