@model NexcoWeb.Domain.Entities.Budget

@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="jumbotron jumbotron-howitworks">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <h1><strong style="color:#ffd700">About Us</strong></h1>

                <p class="text-info">
                    <strong>
                The idea behind Nexco is that we need the right tool to manage our personal finances. <br/><br/>
                        Designed to inspire you to manage your money,<br/>
                        <bold>Nexco Personal Financial Management System</bold> help you to keep a record of your budget
                        every mounth, so that you can plan your expenses in a proportionate way to them and save more money.

                    </strong>
                </p>
                <br />
                @{
                    var userName = HttpContext.Current.User.Identity.Name;

                    if (userName != "")
                    {

                        <p>
                            <a class="btn btn-info btn-md" href="../IncomeExpenditure/Index" role="button">Go back to Your Financial Details</a>
                        </p>
                    }
                    else
                    {


                        <p>
                            <a class="btn btn-info btn-lg " href="../Account/login" role="button">Try it Free!!!</a>
                        </p>






                    }
                }
            </div>
            <div class="col-lg-4 visible-lg ">
                <img src="~/Content/img/save.png" alt="Incomes" height="500" width="600">
            </div>
        </div>
    </div>
